<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='Css/formula.css') }}">
    <title>Medición de Radiación Solar</title>
</head>

<body>
    <header class="header">
        <div class="logo">ANÁLISIS DE DATOS</div>
        <nav class="navigation">
            <ul>
                <li><a href="{{ url_for('index') }}"><span class="primero"><i class="icon icon-home"></i></span>INICIO</a></li>
                <li><a href="#"><span class="segundo"><i class="icon icon-lab"></i></span>BRILLO SOLAR</a>
                    <ul>
                        <li><a href="{{ url_for('medicion') }}">MEDICIÓN</a></li>
                        <li><a href="{{ url_for('formula') }}">FÓRMULA</a></li>
                    </ul>
                </li>
                <li><a href="{{ url_for('prediccion') }}"><span class="tercero"><i class="icon icon-stats-dots"></i></span>PREDICCIÓN</a></li>
                <li><a href="{{ url_for('analisis') }}"><span class="cuarto"><i class="icon icon-stats-bars"></i></span>ANÁLISIS</a></li>
            </ul>
        </nav>
    </header>
    <div class="titulo">
        <h1>MEDICION DEL BRILLO SOLAR ES IMPORTANTE PARA LA RADIACION SOLAR</h1>
        <p>Descubre la fórmula, cómo se utiliza y quien fué su creador</p>
    </div>

    <main>

        <section class="content">
            <h2>La Fórmula de Brillo solar</h2>
            <p>La fórmula de medición del brillo solar calcula la cantidad de horas al dia en que está el sol en un área, se calcula como:</p>
            <p>BSa=(BSm) suma de todos los meses/12</p>
            <p>BSm=(BSd) suma de todos los dias/depende de los dias del mes</p>
            <p>Donde:</p>
            <ul>
                <li>BSa: Brillo solar total anual</li>
                <li>BSm: Brillo solar total mensual</li>
                <li>BSd: Brillo solar total diario</li>
            </ul>
        </section>

        <section class="content">
            <h2>La Fórmula de Medición de Radiación Solar</h2>
            <p>La fórmula de medición de radiación solar es una ecuación que calcula la cantidad de energía solar recibida en un área determinada. La fórmula se expresa como:</p>
            <p>E = A * T * S</p>
            <p>Donde:</p>
            <ul>
                <li>E: Energía solar recibida (en julios)</li>
                <li>A: Área de superficie expuesta al sol (en metros cuadrados)</li>
                <li>T: Tiempo de exposición al sol (en segundos)</li>
                <li>S: Intensidad de la radiación solar (en julios por metro cuadrado por segundo)</li>
            </ul>
        </section>

        <section class="content">
            <h2>Pionero de la Formula</h2>
            <p>A comienzo del siglo XIX, Johannes Ritter descubrió que el Sol, además de luz visible, emite una radiación "invisible" de longitud de onda más corta que el azul y el violeta. Esa banda recibió el nombre de "ultravioleta".
            </p>
            <img src="{{ url_for('static', filename='img index/johann.jfif') }}" alt="John Solaris - Creador de la Fórmula" width="600">
        </section>
        
        <section class="content">
            <h2>Utilidad de la Medición de Radiación Solar</h2>
            <p>La medición de radiación solar es esencial en diversas aplicaciones, incluyendo:</p>
            <ul>
                <li>Diseño de sistemas de energía solar.</li>
                <li>Predicción del rendimiento de paneles solares.</li>
                <li>Estudios climáticos y ambientales.</li>
                <li>Optimización de la eficiencia energética.</li>
            </ul>
            <img src="{{ url_for('static', filename='img index/diseño.jpg') }}" alt="Paneles Solares - Utilidad de la Medición" width="600">
        </section>

    </main>
</body>
</html>
