<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='Css/formulario.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='Css/prediccion.css') }}">
    <title>Ingreso de datos</title>
</head>
<body>
    <h1>Predicción de Brillo Solar</h1>

    <table class="styled-table">
        <thead>
            <tr>
                <th>NOMBRE</th>
                <th>MUNICIPIO</th>
                <th>DEPARTAMENTO</th>
                <th>ENE</th>
                <th>FEB</th>
                <th>MAR</th>
                <th>ABR</th>
                <th>MAY</th>
                <th>JUN</th>
                <th>JUL</th>
                <th>AGO</th>
                <th>SEP</th>
                <th>OCT</th>
                <th>NOV</th>
                <th>DIC</th>
                <th>ANUAL</th>
            </tr>
        </thead>
        <tbody>
            {% for item in resultado_municipio %}
                <tr>
                    <td>{{ item['NOMBRE'] }}</td>
                    <td>{{ item['MUNICIPIO'] }}</td>
                    <td>{{ item['DEPARTAMENTO'] }}</td>
                    <td>{{ item['ENE']|round(2) }}</td>
                    <td>{{ item['FEB']|round(2) }}</td>
                    <td>{{ item['MAR']|round(2) }}</td>
                    <td>{{ item['ABR']|round(2) }}</td>
                    <td>{{ item['MAY']|round(2) }}</td>
                    <td>{{ item['JUN']|round(2) }}</td>
                    <td>{{ item['JUL']|round(2) }}</td>
                    <td>{{ item['AGO']|round(2) }}</td>
                    <td>{{ item['SEP']|round(2) }}</td>
                    <td>{{ item['OCT']|round(2) }}</td>
                    <td>{{ item['NOV']|round(2) }}</td>
                    <td>{{ item['DIC']|round(2) }}</td>
                    <td>{{ item['ANUAL']|round(2) }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <form class="formulario" method="post" action="/soluciones_g">

        <label for="nombre">Ingrese el Lugar a filtrar</label>
        <input type="text" name="nombre" value="{{ nombre }}" required>

        <label for="rangoPrediccion">Mes para predicción con regresion:</label>
        <input type="number" name="rangoPrediccion" min="13" max="16" required><br>

        <label for="rangoPrediccion">Mes para predicción con k:</label>
        <input type="number" name="rango_k" min="13" max="23" required><br>

        <button type="submit">Realizar Predicción</button>
    </form>

    
</body>
</html>