<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='Css/formulario.css') }}">
    <title>Ingreso de datos</title>
</head>
<body>
    <h1>Predicción de Brillo Solar</h1>

     <!-- Muestra los datos en una lista desordenada -->
    <!-- <ul>
        {% for c in departamentos %}
        <li>{{ c }}</li>
        {% endfor %}
    </ul> -->

    <table>
        <thead>
            <tr>
                <th>#</th>
                <th>Dato</th>
            </tr>
        </thead>
        <tbody>
            {% for c in departamentos %}        
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ c }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>


    <form method="post" action="/prediccion">
        <label for="departamento">Departamento:</label>
        <input type="text" name="departamento" value="{{ departamento }}" required>

        <label for="municipio">Municipio:</label>
        <input type="text" name="municipio" value="{{ municipio }}" required>

        <label for="nombre">Nombre:</label>
        <input type="text" name="nombre" value="{{ nombre }}" required>

        <label for="rangoPrediccion">Mes para predicción regresion:</label>
        <input type="number" name="rangoPrediccion" min="13" max="20" required><br>

        <label for="rangoPrediccion">Mes para predicción k:</label>
        <input type="number" name="rango_k" min="13" max="20" required><br>

        <button type="submit">Realizar Predicción</button>
    </form>
</body>
</html>