<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='Css/index.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='Css/fonts.css') }}">
    <title>Index</title>

</head>

<body>

    <!-- prediccion.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Predicción</title>
</head>
<body>

    <header class="header">
        <div class="logo">ANÁLISIS DE DATOS</div>
        <nav class="navigation">
            <ul>
                <li><a href="{{ url_for('index') }}"><span class="primero"><i class="icon icon-home3"></i></span>INICIO</a></li>
                <li><a href="{{ url_for('brillo_solar') }}"><span class="segundo"><i class="icon icon-lab"></i></span>BRILLO SOLAR</a>
                    <ul>
                        <li><a href="{{ url_for('medicion') }}">MEDICIÓN</a></li>
                        <li><a href="{{ url_for('formula') }}">FÓRMULA</a></li>
                    </ul>
                </li>
                <li><a href="{{ url_for('prediccion') }}"><span class="tercero"><i class="icon icon-stats-dots"></i></span>PREDICCIÓN</a></li>
                <li><a href="{{ url_for('soluciones_g') }}"><span class="cuarto"><i class="icon icon-book"></i></span>SOLUCIONES GENERALES</a></li>
            </ul>
        </nav>
    </header>
    <div class="container">
        <div class="img_container">
            <img src="{{ url_for('static', filename='img index/img1.jpg') }}" alt="" class="main_img"> 
        </div>
        <div class="image-overlay">
            <div class="image-overlay-background"></div>
            <div class="image-overlay-content">
                <img id="enlarged-image" src="" alt="Ampliada">
                <span class="close-btn" onclick="closeImageOverlay()">&times;</span>
            </div>
        </div>
        <div class="thumbnail_container">
            <img class="thumbnail active" src="{{ url_for('static', filename='img index/img1.jpg') }}" alt="">
            <img class="thumbnail" src="{{ url_for('static', filename='img index/img2.jpg') }}" alt="">
            <img class="thumbnail" src="{{ url_for('static', filename='img index/img3.jpg') }}" alt="">
            <img class="thumbnail" src="{{ url_for('static', filename='img index/img4.jpg') }}" alt="">
        </div>

    </div>


</body>

<script src="{{ url_for('static', filename='Js/index.js') }}"> </script>
</html>