<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='Css/medicion.css') }}">
    <title>Medición de Brillo Solar</title>

</head>

<body>

    <header class="header">
        <div class="logo">ANÁLISIS DE DATOS</div>
        <nav class="navigation">
            <ul>
                <li><a href="{{ url_for('index') }}"><span class="primero"><i class="icon icon-home"></i></span>INICIO</a></li>
                <li><a href="#"><span class="segundo"><i class="icon icon-lab"></i></span>BRILLO SOLAR</a>
                    <ul>
                        <li><a href="{{ url_for('medicion') }}">MEDICIÓN</a></li>
                        <li><a href="{{ url_for('formula') }}">FÓRMULA</a></li>
                    </ul>
                </li>
                <li><a href="{{ url_for('prediccion') }}"><span class="tercero"><i class="icon icon-stats-dots"></i></span>PREDICCIÓN</a></li>
                <li><a href="{{ url_for('analisis') }}"><span class="cuarto"><i class="icon icon-stats-bars"></i></span>SOLUCIONES GENERALES</a></li>
            </ul>
        </nav>
    </header>
    
    <div class="titulo">
        <h1>Medición de Brillo Solar</h1>
        <p>Descubre cómo usar un heliógrafo y medir el brillo solar</p>
    </div>

    <main>
        <section class="content">
            <h2>¿Qué es un Heliógrafo?</h2>
            <p>Un heliógrafo es un dispositivo utilizado para medir la intensidad del brillo solar.</p>
            <img src="{{ url_for('static', filename='img index/Heliógrafo.jpg') }}" alt="Heliógrafo">
        </section>

        <h2>Cómo Medir el Brillo Solar con un Heliógrafo</h2>
        <p>Para medir el brillo solar con un heliógrafo, sigue estos pasos:</p>
        <ol>
            <li>Coloca el heliógrafo en un lugar con exposición directa a la luz solar durante el día. Asegúrate de que esté nivelado y apuntando hacia el sol.</li>
            <li>Ajusta el heliógrafo para que el rayo de luz solar incida directamente en el espejo horizontal, que reflejará el rayo de luz hacia el papel fotográfico.</li>
            <li>Coloca un papel fotográfico sensible a la luz en la parte superior del heliógrafo, justo en frente del espejo horizontal.</li>
            <li>Deja que el heliógrafo esté expuesto al sol durante un período de tiempo específico.</li>
            <li>Luego de la exposición, retira el papel fotográfico y revele siguiendo los procedimientos de revelado adecuados.</li>
            <li>Usa un densitómetro u otro dispositivo de medición para determinar la densidad del punto en la imagen revelada. La densidad se relaciona con la intensidad del brillo solar.</li>
        </ol>
    </section>
    </main>

</body>
</html>