<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='Css/prediccion.css') }}">
    <title>Ingreso de datos</title>
</head>
<body>
    <h1>Predicción de Brillo Solar</h1>

    <a href="{{ url_for('index') }}" class="boton-enlace">Volver a Index</a>

    <table class="filtros_tablas">
        <thead>
            <tr>
                <th>#</th>
                <th>Departamento</th>
            </tr>
        </thead>
        <tbody>
            {% for c in departamentos %}        
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ c }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <form class="formulario" method="post" action="/municipios">
        <label for="departamento">Ingrese el Departamento a filtrar</label>
        <input type="text" name="departamento" value="{{ departamento }}" required>

        <button type="submit">Filtrar Departamento</button>
    </form>

    
</body>
</html>