@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@900&display=swap');
/*Al principio de cada css se le da esta especificacion para que no tenga nada por defecto*/
*,
*::before,
*::after
{
	margin:0;
	padding:0;
    box-sizing: inherit;
}

body{
    font-family: 'Poppins', sans-serif;
}
/* Estilos para el footer */
.footer {
    position: absolute;
    bottom: 0;
    background-color: #3333333d;
    color: white;
    text-align: center;
    width: 100%;
    padding: 30px 0;
}

.footer-content {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}


.footer h3 {
    font-size: 18px;
    margin-bottom: 15px;
}

.footer-left ul {
    list-style: none;
    padding: 0;
}

.footer-left ul li {
    margin-bottom: 5px;
}

.footer-left ul li a {
    color: white;
    text-decoration: none;
    transition: color 0.3s;
}

.footer-left ul li a:hover {
    color: #5da5a2;
}

.footer-center p {
    margin-bottom: 15px;
}

.footer-right .subscribe-form {
    display: flex;
    flex-direction: column;
}

.footer-right .subscribe-form input[type="email"] {
    width: 92%;
    padding: 10px;
    margin-bottom: 5px;
}

/* Estilos para el botón de suscribirse */
.footer-right .subscribe-form button {
    background-color: #5da5a2;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    outline: none; /* Elimina el borde de enfoque en algunos navegadores */
}

/* Estilos de apariencia para el botón sin cambiar su comportamiento */
.footer-right .subscribe-form button:hover {
    background-color: #174459;
}

.footer-bottom {
    background-color: #00c3ff46;
    padding: 10px 0;
}

/* Estilos para los iconos (puedes utilizar tus propias fuentes de iconos) */
.icon {
    margin-right: 5px;
    font-size: 16px;
}
@media (max-width: 768px) {
    .footer-content {
        flex-direction: column;
    }
}