/* codigo de estilos para el mapa */
* {
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(to bottom right, #AED6F1, #F9EBB2);
} 

.cuadro {
    position: fixed;
    top: 100px;
    left: 100px;
    background-color: rgb(255, 255, 255);
    width: 220px;
    height: 80px; 
    border-radius: 5px;
    border: 3px solid rgb(245, 128, 128);
    padding: 10px;
    font-size: 2.3rem;
    z-index: 999;
    text-align: center;
}
.mapadiv {
    width: 40%;
    margin: auto;
    margin-bottom: 10%;
}

.mapadiv path{
fill: #FFF8C9;
stroke: black; 
stroke-width: 2px;
}

svg path {
    cursor: pointer;
}
iframe.nav {
position:relative;
top: 0px;
left: 0;
width: 100%;
}
.boton-enlace {
display: inline-block;
padding: 10px 20px;
font-size: 16px;
text-align: center;
text-decoration: none;
background-color: #2D4356; 
color: white;
border: 1px solid #000000;
border-radius: 5px;
cursor: pointer;
position: absolute;
top: 30px;
right: 30px;
}

h1{
    text-align: center;
    font-family:'Courier New', Courier, monospace;
    margin-top: 30px;
    color: #000;
}


.formulario form {
    max-width: 400px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.formulario label {
    display: block;
    margin-bottom: 8px;
    color: #666;
}

.formulario button {
    width: calc(100% - 22px);
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #3498db;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.formulario button:hover {
    background-color: #2980b9;
}

/* tablas con los filtros de departamentos y municipios */

.filtros_tablas table {
    width: 40%;
    border-collapse: collapse;
}

.filtros_tablas th, td {
    border: 1px solid #000;
    padding: 8px;
    text-align: center;
    background-color: #FAEEE7;
}

/* .filtros_tablas th {
    background-color: #EDEDED;
} */
.filtros_tablas tbody tr:hover {
    background-color: #ddd;
    color: #000000;
}

/* div de la primera tabla */
.selectedName{
    position:relative;
    margin-top: 50px;
}

.graficos{
    width: fit-content;
    margin: auto;
    margin-top: 20px;
}

/* primer tabla, con los datos obtenidos en desorden */

/* Estilos para la tabla styled-table */
.styled-table {
    width: 100%;
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 18px;
    text-align: center;
}

.styled-table th, .styled-table td {
    padding: 12px 15px;
    border-bottom: 1px solid #000000;
    background-color: #f2f2f2;
}

.styled-table th {
    background-color: #ddd; /* Cambia el color de fondo del encabezado según tu preferencia */
    color: black;
}

.styled-table tr:hover {
    background-color: #000000;
    color: white;
}

/* Añadir un borde a las celdas */
.styled-table td, .styled-table th {
    border: 1px solid #000;
}

/* Añadir espacio entre las celdas */
.styled-table td, .styled-table th {
    padding: 8px;
}

/* Alternar colores de fondo para filas */
.styled-table tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

.styled-table tbody tr:hover {
    background-color: #ddd;
    color: #000000;
}

/* segunda tabla, con los meses y los valores ordenados */
.meses-valores-table {
    width: 50%;
    margin-top: 25px;
    margin-left: 20px;
}

.meses-valores-table th, .meses-valores-table td {
    padding: 10px;
    border: 1px solid #000;
    text-align: center;
    background-color: #ddd; /* Color de fondo para th y tr */
    color: black;
}

.meses-valores-table th {
    background-color: #f2f2f2;
    color: black;
}

.meses-valores-table tbody tr:nth-child(even) {
    background-color: #F7ECDE;
}

.meses-valores-table tbody tr:hover {
    background-color: #FBF8F1;
}

/* tercera tabla, con la prediccion y estadística */
.styled-table-otra {
    width: 40%;
    border-collapse: collapse;
    margin-top: 25px;
    margin-right: 20px;
}

.styled-table-otra th, .styled-table-otra td {
    border: 1px solid black;
    padding: 10px;
    text-align: center;
    background-color: #ddd; /* Color de fondo para th y tr */
    color: black;
}

.styled-table-otra th {
    background-color: #f2f2f2; /* Cambia el color de fondo del encabezado según tu preferencia */
    color: black;
}

.styled-table-otra tbody tr:nth-child(even) {
    background-color: #ddd;
    color: #000;
}

.styled-table-otra tbody tr:hover {
    background-color: #f2f2f2;
    color: #000000;
}


/* Estilos para colocar las tablas una al lado de la otra */
.container {
    display: flex;
    justify-content: space-between;
}

/* Se ajusta el contendio según la resolución de la pantalla */
@media (max-width: 768px) {
    .container {
        flex-direction: column;
        align-items: center;
    }
}

.linea-horizontal {
    border: 2px solid #000000; /* color y grosor de la línea */
    margin: 20px 0; /* margen superior e inferior para separar del contenido */ 
}

/* Estilos para la tabla estimacion_con_k */
.styled-table-k {
    width: 40%;
    border-collapse: collapse;
    margin-top: 20px;
}

.styled-table-k th, .styled-table-k td {
    border: 1px solid black;
    padding: 10px;
    text-align: center;
}

/* Estilos para el contenedor de la predicción con k */
.prediccion-con-k-container {
    margin-top: 20px;
    position: absolute;
}


